.privateConta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    padding: 10px;
}

.privateConta-row{
     padding: 10px;
 
}
.privateConta-row>*{
    margin:10px;
}

.privateConta>*{
    padding:5px;
}

.welcom-login{
    float: right;
}
.readMe-andProfile{
    display: flex;
    flex-direction: row;
     justify-content: flex-end;
     

}
.readMe-andProfile >*{
    margin-right:10px
}

.user-container{
    background: rgb(124, 121, 121);
    width:100%;
}