<div class="flat-edit-first-page">
    <ul>
        <a href="edit/to-rent"><li>To Rent</li></a>
        <a href="edit/for-sale"><li>For Sale</li></a>
        <a href="edit/all"><li>All Flats</li></a>
    </ul>
</div>

 