<div class="container">
        <h3 class="text-danger">View Single Country</h3>
        <div class="container">
                <h4 class="text-info">Country:</h4>
                <h5>{{singleCountry.countryName}}</h5>
                <h4 class="text-info">Sypmol</h4>
                <h5>{{singleCountry.countrySymbol}}</h5>
                <h4 class="text-info">Order</h4>
                <h5>{{singleCountry.order}}</h5>
        </div>
        <div>
            <butto class="btn btn-danger">Update</butto>
            <button class="btn btn-danger">Delete</button>
        </div>
</div>