
<table class="table bg-info table-bordered">
  <thead class="table bg-danger">
    <tr>
      <th>User</th>
      <th>Fname</th>
      <th>Lname</th>
        <th>View</th>
     </tr>
  </thead>
  <tbody>
 
     {{#each users}}
    <tr>
              <th scope="row">{{this.username}}</th>
              <td>{{this.firstName}}</td>
              <td>{{this.lastName}}</td>
                <td><a href="/users/view/{{this._id}}"><button class="btn btn-danger">View</button></a></td>
      </tr> 
     {{/each}}
     
  </tbody>
</table>